.music-container {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 5;
  cursor: pointer;
}

.play-pause {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
  max-width: 100px; /* Ajusta el tamaño máximo aquí */
  max-height: 100px; /* Ajusta el tamaño máximo aquí */
  z-index: 5;
}


.rotate {
  animation: rotate 5s ease infinite alternate-reverse;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.progress-bar-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  border-radius: 50%;
}

.progress-bar {
  height: 100%;
  background-color: #aa9b6d; /* Color de la barra de progreso, ajusta según tus preferencias */
  transition: width 0.1s ease; /* Agrega una transición suave al cambio de ancho de la barra */
}